
/*Permanent*/


.wpcf7 input, .wpcf7-select{
    border: 2px #0081A7 solid;
    height: 40px;
    margin-top: 2.142857142857143em; /*60/28*/
    margin-right: 1.071428571428571em; /*30/28*/
    font-size: 1.2em;
    margin-left: 2em;
}

.wpcf7 textarea{
    border: 2px #0081A7 solid;
    margin-top: 2.142857142857143em; /*60/28*/
    margin-right: 1.071428571428571em; /*30/28*/
    font-size: 1.2em;
    margin-left: 2em;
}


.wpcf7 input:focus{
    background-color:  #0081A7;
    opacity: 20%;
    color:#FFFFFF;
}

.wpcf7 form:invalid{
    border: 2px #C9666D solid;
}

.wpcf7-submit{
    background-color: #0081A7;
    color: #FFFFFF;
    padding: 0.357142857142857em;
}

.wpcf7-submit:hover{
    color: #0081A7;
    background-color: #FFFFFF;
}

.contact__title{
    text-align: center;
    margin-top: 2.142857142857143em; /*60/28*/
    margin-bottom: 2.142857142857143em; /*60/28*/;
}

.wpcf7-list-item-label a{
    border-bottom: 2px #0081A7 solid;
}

.wpcf7-list-item-label a:hover{
    background-color:#0081A7;
    color: #FFFFFF;
    padding: 0.357142857142857em;
}


/*Ecran sous 767px*/
@media screen and (max-width: 767px){

}

/*Ecran à partir de 768px jusqu'à 1500px*/
@media screen and (min-width: 768px) and (max-width: 1499px){

}

/*Ecran à partir de 1500px (pc)*/
@media screen and (min-width:1500px) {

}