/*Permanent*/

.contact__fig img{
    height: 150px;
    width: auto;
    margin-top: 1em;
}
.contact__fig{
    text-align: center;
}

.contact__container{
    margin-top: 2em;
}

.contact__partner{
    background-color : hsla(194,100%,33%,0.4);
    -webkit-border-top-left-radius: 60px;
    -webkit-border-bottom-right-radius: 60px;
    -moz-border-radius-topleft: 60px;
    -moz-border-radius-bottomright: 60px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    text-align: center;
    margin-bottom: 2em;
    padding-bottom: 4em;
}

.contact__legend{
    max-width: 150px;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 4em;
    line-height: 28px;
}



/*Ecran sous 767px*/
@media screen and (max-width: 767px){
    .contact__fig img{
        max-width: 300px;
    }
    .contact__link{
        font-size: 0.8em;
        text-align: center;
        width: 200px;
        line-height: 28px;
    }
}

/*Ecran à partir de 768px jusqu'à 1500px*/
@media screen and (min-width: 768px) and (max-width: 1499px){
    .contact__container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }
    .contact__link{
        white-space: nowrap;
        line-height: 28px;
    }
}

/*Ecran à partir de 1500px (pc)*/
@media screen and (min-width:1500px) {
    .contact__container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em;
    }
    .contact__link{
        white-space: nowrap;
        line-height: 28px;
    }
}