.nav__link, .nav__locale, h2, h3, h4, .footer__link, .form__button{
    font-family: 'Lora', serif;
}
html{
    font-family: 'Playfair Display', serif;
    line-height: 28px;
    background-color: #F0F8FB;
}

.nav__title, .footer__title, .header__title{
    display: none;
}

.dispositif__link, .post__link, .about__link, .articlesPage__link, .dispositif__linkPage, .form__button, .who__link, .article__link, .singleDispositif__link, .contact__link{
    border: 2px #007da3 solid;
    background-color: #007da3;
    padding: 1.3888888889em 2.7777777778em; /*25/18 50/18*/
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.125em; /*18/16*/
    transition: 1s ease-out;
}

.dispositif__link:hover, .post__link:hover, .who__link:hover, .about__link:hover, .articlesPage__link:hover, .dispositif__linkPage:hover, .form__button:hover, .contact__link:hover, .article__link:hover, .singleDispositif__link:hover{
    color: #007da3;
    background-color: #FFFFFF;
}


/*Animations*/

/*apparition au chargement de la page*/
.reveal {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari et Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
        transform: translateX(50%);
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
        transform: translateX(50%);
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
        transform: translateX(50%);
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
        transform: translateX(50%);
    }
    to {
        opacity:1;
    }
}

/*Animation logos modules*/

.dispositif__thumb{
    animation: course 5s;
}

@keyframes course {
    from {
        opacity:0;
        transform: translateX(800%) scaleX(-1);
    }
    to {
        opacity:1;
        transform: scaleX(1);
    }
}
@-moz-keyframes course { /* sur Firefox */
    from {
        opacity:0;
        transform: translateX(800%) scaleX(-1);
    }
    to {
        opacity:1;
        transform: scaleX(1);
    }
}
@-webkit-keyframes course { /* sur Safari et Chrome */
    from {
        opacity:0;
        transform: translateX(800%) scaleX(-1);
    }
    to {
        opacity:1;
        transform: scaleX(1);
    }
}
@-o-keyframes course { /* sur Opera */
    from {
        opacity:0;
        transform: translateX(800%) scaleX(-1);
    }
    to {
        opacity:1;
        transform: scaleX(1);
    }
}