.nav__link, .nav__locale, h2, h3, h4, .footer__link, .form__button{
    font-family: 'Lora', serif;
}
html{
    font-family: 'Playfair Display', serif;
    line-height: 28px;
    background-color: #F0F8FB;
}

.nav__title, .footer__title, .header__title{
    display: none;
}

.dispositif__link, .about__link, .articlesPage__link, .dispositif__linkPage, .form__button, .who__link, .article__link, .singleDispositif__link, .contact__link{
    border: 2px #007da3 solid;
    background-color: #007da3;
    padding: 25px 50px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.125em; /*18/16*/
}

.dispositif__link:hover, .about__link:hover, .articlesPage__link:hover, .dispositif__linkPage:hover, .form__button:hover, .who__link:hover, .contact__link:hover, .article__link:hover, .singleDispositif__link:hover{
    color: #007da3;
    background-color: #FFFFFF;
}