/*permanent*/

.layout__articles{
    margin-top: 6.25em; /*100/16*/
}

.articles__fig{
    background-color : hsla(194,100%,33%,0.4);
    -webkit-border-top-left-radius: 60px;
    -webkit-border-bottom-right-radius: 60px;
    -moz-border-radius-topleft: 60px;
    -moz-border-radius-bottomright: 60px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    display: inline-block;
    min-height: 190px;
    min-width: 300px;
}

.articles__fig img{
    -webkit-border-top-left-radius: 60px;
    -webkit-border-bottom-right-radius: 60px;
    -moz-border-radius-topleft: 60px;
    -moz-border-radius-bottomright: 60px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    padding: 1em;
}

.article__subtitle{
    margin-bottom: 0.5em;
}

.articles{
    margin-bottom: 6em;
}


/*Ecran sous 767px*/
@media screen and (max-width: 767px){
   .layout__articles{
       margin-top: 3.75em;
       margin-bottom: 3.125em;
       margin-left: 1em;
   }
    .articles__title{
        margin-bottom: 1.7857142857em; /*50/28*/
        margin-top: 2.142857142857143em; /*60/28*/
    }
    .articles{
        margin-bottom: 6em;
    }
    .article__subtitle{
        margin-bottom: 2em;
    }

    .articles__fig{
        margin-top: 1em;
        margin-bottom: 3em;
    }
    .articles__fig img{
        max-width: 320px;
    }
}

/*Ecran à partir de 768px jusqu'à 1199px*/
@media screen and (min-width: 768px) {
    .articles__title{
        margin-bottom: 1.7857142857em; /*50/28*/
        text-align: center;
    }
    .articles__container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:1em;
        min-width: 300px;
        justify-items: center;
    }

    .articles__fig img{
        max-width: 280px;
    }
    .articles__head{
        margin-bottom: 1em;
    }

    .article__subtitle{
        margin-bottom: 2em;
    }
    .articles__fig{
        margin-bottom: 3em;
    }

}


/*Ecran à partir de 1200px (pc)*/
@media screen and (min-width:1200px){

    .articles__container{
        min-width: 500px;
    }
    .articles__fig img{
        max-width: 400px;
    }
    .articles__fig{
        min-width: 400px;
        min-height: 250px;
    }

}